.card {
  width: 350px;
  height: 400px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.cardImg {
  width: 100%;
  height: 70%;
  position: relative;
}
.cardText {
  position: relative;

  z-index: 20;
  color: rgb(0, 0, 0);
  text-align: center;
}
